div.scroll-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  position: sticky;
  top: 90.5%;
}

div.scroll-button button {
  padding: 0.9em 1.05em;
  margin: 0 0.79em;
  border-radius: 50%;
  background-color: rgb(255, 60, 0);
}